global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'n8n-clone'
    environment: 'production'

scrape_configs:
  # Prometheus self-monitoring
  - job_name: 'prometheus'
    static_configs:
      - targets: ['192.168.0.104:9090']

  # Pushgateway
  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: ['192.168.0.104:9091']
